spring:
  application:
    name: api-gateway

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}

management:
  endpoints:
    web:
      exposure:
        include: "prometheus,health,info,metrics"

  health:
    livenessState:
      enabled: true
    readinessState:
      enabled: true

  zipkin:
    tracing:
      endpoint: ${TEMPO_ZIPKIN:http://localhost:9411/api/v2/spans}

  tracing:
    sampling:
      probability: 1.0