spring:
  application:
    name: api-gateway

management:
  endpoints:
    web:
      exposure:
        include: "prometheus,health,info,metrics"

  health:
    livenessState:
      enabled: true
    readinessState:
      enabled: true

  zipkin:
    tracing:
      endpoint: ${TEMPO_ZIPKIN}/api/v2/spans

  tracing:
    sampling:
      probability: 1.0